@charset "UTF-8";

body {
	background-color: rgb(219, 248, 248);
}

#connexion_main {
	position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

#connexion_main h1 {
    color: rgb(115, 33, 131);
	text-align: center;
	margin-bottom: 30px;
	text-shadow: 1px 1px 0px goldenrod;
}



#connexion_main form {
	border: solid;
    box-shadow: 1px 1px black;
    padding-bottom: 20px;
}

#connexion_main .ids {
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
}

#connexion_main .ids > input {
    position: absolute;
    left: 30%;
    width: 60%;
}
#connexion_main .buttons {
    display: inline-block;
    margin-top: 30px;
    margin-left: 50px;
    vertical-align: middle;

}


#connexion_main .links {
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    margin-left: 50px;
}

#connexion_main #link1, #connexion_main #link2 {

    margin-bottom: 10px;
    color: blue;
    cursor: pointer;
    text-decoration:underline;
}
