<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Birdy</display-name>
  
  
  
  
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.servlets.User</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Messages</servlet-name>
    <servlet-class>com.servlets.Messages</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Friends</servlet-name>
    <servlet-class>com.servlets.Friends</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Athentification</servlet-name>
    <servlet-class>com.servlets.Athentification</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Messages</servlet-name>
    <url-pattern>/messages</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Friends</servlet-name>
    <url-pattern>/friends</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Athentification</servlet-name>
    <url-pattern>/athentification</url-pattern>
  </servlet-mapping>
  
</web-app>